{% extends "index.html" %}

{% block content %}
	<h1 style="color:red">
		Gestion de Cursos:
	</h1>
	<table border="1">
		{% for curso in cursos %}

			<tr>
				<td>
				{{ curso.nombre }}  - {{ curso.codigo }}
				</td>

				<td>
				<a href="/cursos/consultar/{{ curso.codigo }}"> 
					<font color="red"><i class="small material-icons">info</i></font>
				</a>
				</td>

				<td>
				<a href="/cursos/editar/{{ curso.codigo }}"> 
					<font color="red"><i class="small material-icons">edit</i> </font>
				</a>
				</td>
				{% if puedoeliminar %}
				<td>
				<a href="/cursos/eliminar/{{ curso.codigo }}"> 
					<font color="red"><i color="red" class="small material-icons">delete</i></font>
				</a> 
				</td>
				{% endif %}
			</tr>
		{% endfor %}
	</table>

{% endblock %}