{% extends "index.html" %}

{% block content %}

	<h1>Crud usuario {{ usuario.username }}</h1>

	<form action="" method="post">
		{% csrf_token %}
	<p> Nombre
		<input type="text" name="name" value="{{ usuario.last_name }}">
	</p>
	<p> Username
		<input type="text" name="username" value="{{ usuario.username }}">
	</p>
	<p> Contraseña
		<input type="password" name="password">
	</p>
	<p> Email
		<input type="email" name="email" value="{{ usuario.email }}">
	</p>
	<p> Tipo de usuario
		<input type="text" name="tipo" value="{{ usuario.profile.tipo }}">
	</p>
		<button type="submit">Modificar</button>

	</form>

{% endblock %}